/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* VARIABLE CSS */
:root {
/* Colors */
  --first-hue: 260;
  --second-hue: 216;
  --first-color: hsl(var(--first-hue), 91%, 64%);
  --first-color-dark: hsl(var(--first-hue), 62%, 20%);
  --title-color: hsl(var(--second-hue), 8%, 85%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(var(--second-hue), 28%, 12%);
  --container-color: hsl(var(--second-hue), 8%, 85%);
  --white-color: hsl(var(--second-hue), 8%, 100%);

  --first-gradient: linear-gradient(
    150deg,
    var(--first-color) 0%,
    var(--white-color) 100%
  );
  --second-gradient: linear-gradient(
    260deg,
    var(--first-color-dark) 0%,
    var(--first-color) 100%
  );

/* Font family */

/* Font sizes */

/* Font weight */
}

/* Responsive typography */

/* BASE */

/* Variable Dark theme */

/*
Color changes in some parts of
the website, in light theme
*/

/* REUSABLE CSS CLASSES */

/* LAYOUT */

/* HEADER & NAV */

/* Active Link */

/* Change background header */

/* HOME */

/* ABOUT */

/* SERVICES */

/* SKILLS */

/* RESUME */

/* PORTFOLIO */